In [26]:
import os
import warnings

import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

from IPython.display import display, HTML
display(HTML("<style>.container { width: 90% !important}; </style>"))

In [27]:
warnings.filterwarnings(
    action='ignore',
    message='Ã®nternal gelsd'
)

In [28]:
np.random.seed(1)

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 50)

In [29]:
# Matplotlib set label size
%matplotlib inline

mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=14)
mpl.rc('ytick', labelsize=14)

plt.rc('font', size=12)
plt.rc('figure', figsize=(12, 5))

In [30]:
sns.set_style('whitegrid')
sns.set_context(
    'notebook',
    font_scale=1,
    rc={
        'lines.linewidth': 2,
        'font.family': [u'times']
    }
)

## Data Visualization

We have multiple houses, and we want to predict their **market price**.
So we are going to explore the features that we have.

In [31]:
train_set = pd.read_csv('./data/train_set.csv')
test_set = pd.read_csv('./data/test_set.csv')

In [34]:
print('Number of samples: ', train_set.shape[0])
print('Number of features: ', test_set.shape[1])

Number of samples:  5432
Number of features:  21

In [35]:
train_set.head(3)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,Aberfeldie,241 Buckley St,4,h,1380000.0,VB,Nelson,12/08/2017,7.5,3040.0,4.0,2.0,2.0,766.0,NaN,NaN,Moonee Valley,-37.75595,144.90551,Western Metropolitan,1543.0
1,1,Northcote,67 Charles St,2,h,1100000.0,SP,Jellis,20/05/2017,5.5,3070.0,2.0,1.0,1.0,189.0,NaN,NaN,Darebin,-37.77670,144.99240,Northern Metropolitan,11364.0
2,2,Balwyn North,42 Maud St,3,h,1480000.0,PI,Jellis,15/10/2016,9.2,3104.0,3.0,1.0,4.0,605.0,116.0,1950.0,Boroondara,-37.79510,145.06960,Southern Metropolitan,7809.0

In [43]:
def diplay_unique_values(df: pd.DataFrame):
    for column in train_set.columns.values:
        print(f'Unique values of {column}: ', train_set[column].nunique())
    
diplay_unique_values(train_set)

Unique values of index:  5432
Unique values of Suburb:  292
Unique values of Address:  5400
Unique values of Rooms:  8
Unique values of Type:  3
Unique values of Price:  1458
Unique values of Method:  5
Unique values of SellerG:  203
Unique values of Date:  58
Unique values of Distance:  194
Unique values of Postcode:  187
Unique values of Bedroom2:  11
Unique values of Bathroom:  9
Unique values of Car:  10
Unique values of Landsize:  1131
Unique values of BuildingArea:  435
Unique values of YearBuilt:  121
Unique values of CouncilArea:  32
Unique values of Lattitude:  3568
Unique values of Longtitude:  3790
Unique values of Regionname:  8
Unique values of Propertycount:  289

## TODO's

- Create model for predicting building area / landsize & infer nan -> LR for type of house and landsize
- Buildyear based on KNN, 
- Filter by the outliers 
- Each model for division
- Train/val split
- Data with same ranges as test (and same parameters for conversion/normalization)